<!--loads the path to your static file-->
{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}"/>

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<!--logo-->
		<div class="navbar-header">
			<a class="navbar-brand" href="{% url 'music:index' %}">Viberr</a>
			
		</div>
		
	</div>
	
</nav>

{% if all_albums %}
<h1>Here are all my album</h1>
	<ul>
		{% for album in all_albums %}
		<li><a href = "{% url 'music:detail' album.id %}">{{ album.album_title }}</a></li>
		{% endfor %}
	</ul>
{% else %}
<h3>You don't have any album</h3>
{% endif %}